<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Email marketing category:</strong>
    <%= user.email_marketing_category_id %>
  </p>

  <p>
    <strong>Sign up at:</strong>
    <%= user.sign_up_at %>
  </p>

</div>
