<h1>New email marketing category</h1>

<%= render "form", email_marketing_category: @email_marketing_category %>

<br>

<div>
  <%= link_to "Back to email marketing categories", email_marketing_categories_path %>
</div>
