<nav>
  <%= link_to "Root", root_path %>
  <%= link_to "Users", users_path %>
  <%= link_to "EmailMarketingCategories", email_marketing_categories_path %>
  <%= link_to "EmailTemplates", email_templates_path %>
</nav>
